a {
  text-decoration: none;
}

.general,
.catalog,
.contacts {
  color: cornflowerblue;
  font-size: 16px;
  line-height: 20px;
}

.generalindex,
.generalcatalog {
  color: #222222;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}

.info,
.one,
.two,
.three,
.list,
.hello,
.medium,
.distal {
  font-size: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}

.welcome {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}

h3 {
  color: #222222;
  font-size: 20px;
  line-height: 10px;
  font-weight: bolder;
}
